* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  background-attachment: fixed;
}

#global {
  width: 65%;
  margin: 0px auto;
  margin-top: 30px;
  background: white;
  box-shadow: 0px 0px 2px #ccc;
}

#logo {
  font-family: "Verdana", "Arial";
  font-size: 28px;
  letter-spacing: 4px;
  color: white;
  text-align: center;
  width: 385px;
  height: 80px;
  float: left;
  margin-bottom: 20px;
  line-height: 75px;
  text-transform: uppercase;
}

.clearfix {
  float: none;
  clear: both;
}

#menu {
  font-family: "helvetica", "Arial";
  background: #333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#menu ul {
  line-height: 46px;
  list-style: none;
}

#menu ul li {
  height: 46px;
  display: inline-block;
  transition: all 300ms;
}

#menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
}

#menu ul li:hover {
}

#posts {
  width: 60%;
  float: left;
  font-family: "Helvetica", "Arial";
}

.post {
  padding: 7px;
}

.post h2 {
  font-size: 30px;
  color: #333;
}

.post .date {
  display: block;
  color: gray;
  margin-top: 20px;
}

.post p {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: justify;
}

.button-more {
  font-size: 14px;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  width: 70px;
}

#sidebar {
  font-family: "helvetica", "Arial";
  width: 31%;
  float: right;
  margin-right: 5px;
}

#sidebar h4 {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 10px;
  color: #333;
  background: url(../img/lines.png) repeat-x;
}

#sidebar h4 span {
  background: white;
  padding: 5px;
}

#sidebar img {
  width: 100%;
}

#sidebar p {
  font-size: 15px;
  text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"],
form input[type="date"],
select {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 5px;
}

form input[type="submit"] {
  background: #eee;
  padding: 5px;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
}

footer {
  font-family: "helvetica", "Arial";
  color: white;
  height: 47px;
  background: rgba(51, 51, 51, 0.7);
  margin: 0px auto;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  line-height: 47px;
}

.bx-wrapper,
.bx-viewport {
  height: 250px !important;
  display: block;
}

#selector-theme {
  position: fixed;
  top: 40%;
  background: rgba(51, 51, 51, 0.5);
  width: 50px;
  height: 100px;
}

#to-green,
#to-red,
#to-blue {
  width: 25px;
  height: 25px;
  border: 1px solid white;
  margin: 0px auto;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

#to-green {
  background: #235e3d;
}

#to-red {
  background: #ca3413;
}

#to-blue {
  background: #1f87c4;
}

.subir {
  color: white;
  text-decoration: none;
  display: block;
  float: right;
}

/*ABOUT*/

#box {
  width: 60%;
  float: left;
  margin-top: 40px;
}

#acordeon {
  margin-top: 20px;
}

/*ABOUT*/

/*RELOJ*/

#reloj {
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  border: 5px dashed #333;
  width: 30%;
  padding: 30px;
  margin: 0 auto;
}

/*RELOJ*/

/*FORMULARIO CONTACTO*/

#form_contact {
  width: 50%;
  margin-top: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

#form_contact label {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.form-error {
  float: right;
  font-size: 11px;
  background: red;
  color: white;
  padding: 10px;
  width: 65%;
}

/*FORMULARIO CONTACTO*/
